.profile-public {
    &__header {
        background-color: $lightOrange;
        height: 280px;
        display: flex;
        justify-content: end;
        padding: 0 95px;
        align-items: center;
        button {
            width: 195px;
            height: 60px;
            background: #00BCD4;
            border-radius: 50px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 50px;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
            border: none;
        }
    }
    &__body {
        padding: 0 95px;
        //position: relative;
        &__profile {
            width: 70%;
            background: #FFFFFF;
            border: 1px solid #D9D9D9;
            border-radius: 10px;
            //position: absolute;
            margin-top: -200px;
            padding: 36px;
            margin-bottom: 50px;
            &__data {
                display: flex;
                &__left {
                    //width: 35%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .profile-image {
                        width: 220px;
                        height: 220px;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 50%;
                        margin-bottom: 20px;
                    }
                }
                &__right {
                    //width: 65%;
                    margin-left: 80px;
                    h3 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 50px;
                    }
                }
                &__technologie {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 18px;
                }
            }
            h5 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 50px;
            }
        }
        &__classes {
            padding: 50px;
            width: 70%;
            background: #FFFFFF;
            border: 1px solid #D9D9D9;
            border-radius: 10px;
            margin-bottom: 80px;
            h3 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 50px;
            }
        }
    }
}

@media(max-width:600px){
    .profile-public__header {
        background-color: #FFECB3;
        display: flex;
        justify-content: space-around;
        padding: 10px;
        align-items: center;
        height: auto;
        position: absolute;
        top: 520px;
        width: 100%;
    }

    .profile-public__body {
        padding: 0;
        
        &__profile {
            width: 100%;
            margin-top: 0;
            height: 450px;
        }

        &__classes {
            margin: auto;
            width: 100%;
        }
    }
}