@import '../base/settings';

.divProfile{
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-evenly;
    padding: 3%;
    & h3, & h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    }
    
.nameProfile{
    color: $orange;
}
}

%backgroundProp{
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    padding: 10px;
}

%inputExtend{
    justify-content: flex-end;
    font-size: 16px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 10px;
    width: 100%;
    padding: 1% 5% 1% 2%;
    padding: 2%;
}
.divInfo{
    display: flex;
    flex-direction: column;
}
.divInside{
    input {
        @extend %inputExtend;
    }
    margin-bottom: 30px;

    & form {
        display: flex;
        width: 80%;
        flex-direction: column;
    }
    
    & label {
        margin-bottom: 4%;
    }
    h4 {
        align-self: center;
        margin:15px 15px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }
}
.divInfoData{
   @extend %backgroundProp;
   display: flex;
   flex-direction: column;
    & h5 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: $blue;
    }
    & Link {
        color: black;
    }
}


.divProfileData {
    width: 60%;
    display: flex;
    flex-direction: column;
    & .divInside{
        @extend %backgroundProp;
    }
}

.divTechnologies{
    display: flex;
    flex-direction: column;
    align-items: center;
    @extend %backgroundProp;
    margin-bottom: 30px;
    & .section-technologies__list {
        gap:10px;
    }
    h4 {
        align-self: center;
        margin:15px 15px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }
}

.divBasicInformation{
    display: flex;
    flex-direction: column;
    align-items: center;
   & img {
        width: 145px;
        height: 145px;
        margin: 10px;
    }
 & h3 {
    margin:15px 15px;
 }
 & h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
 }

}




.buttonProfile{
    border-radius: 30px;
    padding: 0px 20px;
    color: #FFFFFF;
    background-color: $blue;
    padding: 0px, 20px, 0px, 20px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
    width: fit-content;
    align-self: center;
}

.divAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
        align-self: center;
        margin:15px 15px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }
    h5 {
        align-self: flex-start;
        margin-bottom: 30px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
    }
    & textarea {
        border: 1px solid rgb(199, 199, 199);
        border-radius: 15px;
        padding: 18px;
        margin-bottom: 30px;
        color:#696565;
        font-family: 'Poppins';
        width: 100%;
    }
    & div {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    & form{
        width: 100%;
        height: 100%;
    }
}

.divPassword,
.divDelete {
    display: flex;
    flex-direction: column;
    align-items: center;
    & p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
    }
    & .divText{
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    & .deleteText{
        color:$orange;
        font-family: 'Poppins';
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        text-decoration: underline;
    }
}

@media(max-width:600px){
 .divInfo{
    display: none;
 }
}