@import '../base/settings';

.divProfile{
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-around;
    & h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    }
    & h4 {   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    }
#nameProfile{
    color: $orange;
}
}

%backgroundProp{
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    padding: 10px;
}

.divInfo{
    display: flex;
    flex-direction: column;
}

.divInfoData{
   @extend %backgroundProp;
   display: flex;
   flex-direction: column;
    & h5 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: $blue;
    }
    & Link {
        color: black;
    }
}


.divProfileData{
    display: flex;
    flex-direction: column;
    & div {
        @extend %backgroundProp;
    }
}

.divBasicInformation{
    display: flex;
    flex-direction: column;
    align-items: center;
   & img {
        width: 145px;
        height: 145px;
        margin: 10px;
    }
    &-form {
        width: 50%;
        border-right: 1px solid rgb(199, 199, 199);
        padding: 1% 5% 1% 2%;
    }
        & form {
            text-align: center;
        & :nth-child(3) {
            display: flex;
            justify-content: flex-end;
            font-size: 16px;
            & :nth-child(2) {
                margin-left: 2%;
            }
        }
        
    }

    & label {
        margin-bottom: 4%;
        width: 100%;
    }

    & input {
        width: 100%;
        border: 1px solid rgb(199, 199, 199);
        border-radius: 10px;
        padding: 2%;
    }

}



.deleteText{
    color:$orange;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
& p {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    }
}

.buttonProfile{
    border-radius: 30px;
    padding: 0px 20px;
    color: #FFFFFF;
    background-color: $blue;
    padding: 0px, 20px, 0px, 20px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
}
.divTechnologies{
    border: none;
}