
.card-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
}

.card-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 370px;
    box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #FFFFFF;
}

.image{
    display: flex;
    flex-direction: column;
    width: 235px;
    height: 150px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 10px;
    margin-top: 11px;
}

.title-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22px;
}

.name{
    margin-bottom: 0;
    font-weight: 700;
    font-size: 20px;
}

.skill{
    margin: 0;
}

.stars{
    display: flex;
    justify-content: space-around;
    width: 7rem;
    height: auto;
    margin-top: 26px;
}

.btn-card{
    display: grid;
    place-content: center;
    width: 150px;
    height: 50px;
    margin-top: 16px;
}

.btn-card button{
    width: 159px;
    height: 50px;
    background: #FFFFFF;
    border: 5px solid #FFA000;
    border-radius: 30px;
    color:#FFA000;
    font-weight: 700;
    font-size: 14px;
}