@import '../base/settings';

body {
    font-family: 'Poppins';
}

.header {
    display: grid;
    place-content: center;
    background-color: lightblue;
    width: 100%;
    height: 300px;
    margin-bottom: 100px;
}

.title-search{
    display: flex;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 75px;
    width: 950px;
}

.content{
    height: 965px;
    width: 100%;
    margin-bottom: 422px;
}

.profile{
    position: relative;
}

.btn-more{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.btn-more button{
    width: 160px;
    background: #FFA000;
    border-radius: 30px;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    border: 0;
}

.btn-more button:hover{
    cursor: pointer;
    opacity: calc(0.9);
}

@media(max-width:600px){
    .header {
        margin-bottom: 10px;
    }
    .title-search {
        width: 100%;
    }
    p {
        text-align: center;
    }
    .vstack {
        justify-content: center;
        align-items: center;
    }
    .tecnology,
    .nivel,
    .rol {
        width: 75%;
    }
    .content {
        height: auto;
        width: 100%;
        margin-bottom: 5%;
    }
    .profile {
        margin-left: 0 !important;
    }
    .profiles-cards {
        margin-bottom: 10px;
    }
    .card-list {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        padding-top: 10px;
    }

}